# Ignore node_modules directory
node_modules/

# Ignore environment files
.env
*.env
**/.env
.env*
.env.local
.env.production

# production k8s secrets
frontend_secrets.yml
backend_secrets.yml
mongo_secrets.yml

# Ignore backend environment file
backend/.env
backend/node_modules
**backend/.env

# Ignore frontend environment file
frontend/.env
**frontend/.env
frontend/node_modules